<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>

<!-- bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>
<script type="text/javascript">
	window.onload=function(){
		document.getElementById("btnSearch").onclick = goSearch
	}
</script>
<body>
	<div class="container-fluid">
		<h3>고객 정보 입력</h3>
		<!-- form start -->
		<form action="damsano" method="POST">  {% csrf_token %}
			<div class="row" style='margin-bottom:3rem;'>
				<div class="col col-sm-2">
					<div class="input-group">
						<!-- name -->
						<div class="input-group-prepend">
							<span class="input-grou p-text">고객명</span>
						</div>
						<input type='text' class="form-control" name="inp_gogek_name">
					</div>
				</div>
				<div class="col col-sm-2">
					<div class="input-group">
						<!-- tel -->
						<div class="input-group-prepend">
							<span class="input-group-text">고객전화</span>
						</div>
						<input type='text' class="form-control" name="inp_gogek_tel">
					</div>
				</div>
				<div class="col col-sm-2">
					<input type="submit" value='확인' class="btn btn-primary" id='btnSearch'>
				</div>
			</div>
		</form>
		<!-- form end -->
	</div>
</body>
</html>