<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
<div class="container">
	<h3>* 커피 전문점 선호도 설문 결과 *</h3>
	<div class="row">
		<div class='col'>
			{% if crossTab %}
				{{crossTab|safe}}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{% if results %}
				{{results}}
			{% endif %}
		</div>
	</div>
	<div class="row">
			<img src="/static/images/vbar.png" >
		</div>
	</div>
</div>
</body>
</html>