<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<!-- script -->
<script type="text/javascript">
	$(document).ready(function() {
		// alert('document load test')
		$('#btnOk').bind('click', function() {
			$("#showData").empty()
			// alert('showData test')
			
			$.ajax({
				url:'calldb',
				type:'GET',
				// data는 넘어올게 없다
				dataType:'json',
				success:function(data){
					// console.log(typeof(data))
					// console.log("alert Test"+ data)
					var str = "<table class='table table-bordered'>"
					var count = 0
					str += "<thead class='thead-dark'><tr><th>코드</th><th>품명</th><th>수량</th><th>단가</th></tr></thead>"
					str += "<tbody>"
					
					// 반복문 돌리기
					$.each(data, function(index, entry){
						str += "<tr>"
						str += "<td>" + entry['code'] + "</td>"
						str += "<td>" + entry['sang'] + "</td>"
						str += "<td>" + entry['su'] + "</td>"
						str += "<td>" + entry['dan'] + "</td>"
						str += "</tr>"
						count += 1
					})
					
					
					str += "</tbody></table>"
					
					$("#showData").append(str)
					$("#showData").append('건수: ' + count)
				},
				error:function(){
					$("#showData").text('ERROR!')
				}
			})
		})
	})
</script>
</head>
<body>
	<div class='container'>
		<div class='row' style='padding: 3rem;'>
			<button id='btnOk' class='btn btn-primary'>상품 자료 출력(Ajax)</button>
		</div>
		<div class="row">
			<div class='col'>
				<div id="showData"></div>
			</div>
		</div>
	</div>
</body>
</html>