@charset "UTF-8";

figure {
	width: 250px;
	height: 300px;
	margin-left: 50px;
	margin-right: 100px;
	border: 2px solid black;
}

section {
	width: 70%;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	margin-left: auto;
	margin-right: auto;
}

a{
	text-decoration: none;
}

table{
	  border-spacing: 5px;
}

figcaption{
	font-family:"Do Hyeon";
	font-size: 20px;
	vertical-align:middle;
	text-align: center;
	border-top: 1px solid black;
}