<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<script type="text/javascript">

// 총액 계산용 / 잔여수량용 전역변수
var total = 0
var product_id = 0
var product_stock = 0
var input_stock = 0



$(document).ready(function(){
	console.log('ready test')
	
	// 계산버튼 숨기기
	$('#caldiv').hide()
	
	
	// 총액
	
	// 상품 리스트 출력 
	$('button[name=btnCategory]').bind('click', function(){
		$('#showProductList').empty()
		var category = $(this).attr('value')
		
		console.log(category)	
		$.ajax({
			url:'productlist',
			type:'GET',
			data : {
					'category' : category
				},
				dataType:'json',
				success:function(data){
					console.log(typeof(data))
					// console.log("alert Test"+ data)
					var str = "<table class='table table-bordered'>"
					var count = 0
					str += "<thead class='thead-dark'><tr><th>제품명</th><th>설명</th><th>가격</th><th>주문수량</th></tr></thead>"
					str += "<tbody>"
					
					// 반복문 돌리기
					$.each(data, function(index, entry){
						str += "<tr>"
						str += "<td><input type='hidden' id='productName"+entry['id']+"' value='"+entry['name']+"'>" + entry['pname'] + "</td>"
						str += "<td>" + entry['description'] + "</td>"
						str += "<td><input type='hidden' id='productPrice"+entry['id']+"' value='"+entry['price']+"'>" + entry['price'] + "</td>"
						str += "<td><div class='form-inline'>주문수량 : \&nbsp\;"
						str += "<input type='text' class='form-control' id='productCount"+entry['id']+"'>"
						str += "<button class='btn btn-success' name='btnCal' value='"+entry['id']+"'>확인</button></div>"
						str += "<input type='hidden' id='productStock"+entry['id']+"' value='"+entry['stock']+"'>"
						str += "</tr>"
					})
					
					str += "</tbody></table>"
					
					$("#showProductList").append(str)
				
				},
				error:function(){
					$("#showProductList").text('ERROR!')
				}
			})
			
			$('#caldiv').show()
			
	})
	
	
})

$(document).on('click', 'button[name=btnCal]', function(){
	// 제품의 id 획득
	product_id = $(this).attr('value')
	
	// 제품의 수량 획득
	product_stock = $('#productStock'+product_id).val()
	
	// 입력 주문수량 획득
	input_stock = $('#productCount'+product_id).val()
	
	// 제품 가격 획득
	product_price = $('#productPrice'+product_id).val()
	
	// 입력 주문수량 확인(콘솔)
	console.log(input_stock)
	console.log(product_price)
	
	// 제품 가격 X 입력 주문 수량 해서 총합에 더하기
	var product_cost = product_price * input_stock
	
	// 재고 확인하기
	if (product_stock - input_stock < 0){
		alert("수량이 부족합니다")
		$('#productCount'+product_id).val("")
		//재고가 충분하다면 각 input에 저장된 재고에서 입력 재고를 빼고 총액 연산
	}else{
		$('#productStock'+product_id).val(product_stock - input_stock)
		// console.log($('#productStock'+product_id).val())
		total = total + product_cost
	}
	// total값 갱신 출력
	$('#showCount').text("전체가격 : "+ total +"원")
	console.log(product_stock)
	
})

$(document).on('click', '#btnCalOk', function(){
	console.log('click')
	$("#showStock").empty()
	
	$.ajax({
		url:'pay',
		type:'GET',
		data : {
				'id' : product_id,
				'stock':product_stock,
			},
		dataType:'json',
		success:function(data){
			console.log(data[0]['stock'])
			var str=""
			
			str += data[0]['pname']
			str += "-->"
			str += data[0]['stock']
			
			$("#showStock").append(str)
			total = 0
			$('#showCount').text("전체가격 : "+ total +"원")
		},
		error:function(){
			$("#showStock").text('ERROR!')
		}
	})
	
})

</script>
<body>
	<div class="container-fluid">
		<!-- menu -->
		<div class="row" style="padding:3rem">
			<div class="col-2">
				<h4>메뉴</h4>
			</div>
			<div class="col-10">
				<button name="btnCategory" class="btn btn-primary" value="1">버거</button>
				<button name="btnCategory" class="btn btn-info" value="2">음료</button>
				<button class="btn btn-secondary" type="submit">이벤트</button>
				<a id="btnAdmin" class="btn btn-dark" href='ceo'>관리자</a>
				<a class="btn btn-light" type="button" href="admin">DB 관리자</a>
			</div>
		</div>
		
		<div class="row" style="padding:3rem">
			<div class="col-8">
				<!-- product list -->
				<div id="showProductList">
				클릭 해주세요
				</div>
				<!-- Count money -->
				 
					
			</div>
			<div class="col-4"  id='caldiv'>
				<div id="showCount">
					전체가격 : 0원
				</div>
				<div>
					<button id="btnCalOk" class="btn btn-secondary">계산 확인</button>
				</div>
				<div id="showStock">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>