<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<style type="text/css">
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); font-family: "Noto Sans KR", sans-serif;
</style>
</head>
<body>
	<div class='container text-center' style="font-family:'Noto Sans KR', sans-serif;">
		<h2>직원 정보 테이블</h2>
		<div class="row">
			<div class="col-md">{{datas|safe}}</div>
		</div>
		<h4>부서별 정보</h4>
		<div class="row">
			<div class="col col-sm-6">{{buser_sum|safe}}</div>
			<div class="col col-sm-6">{{buser_mean|safe}}</div>
		</div>
		<h4>직급별 정보</h4>
		<div class="row">
			<div class="col col-lg-6">{{jik_sum|safe}}</div>
			<div class="col col-lg-6">{{jik_mean|safe}}</div>
		</div>
		<h4>부서번호 별 연봉 평균</h4>
		{% load static %} <img src="{% static 'images/mean.png' %}">
	</div>
</body>
</html>